@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap&subset=cyrillic');
/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* 
	media 
*/
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
  .fotorama .fotorama img {
    height: 50%;
    width: 50%;
  }
  .scheme {
    background-size: 70%;
  }
  .problem img {
    display: none;
  }
  .footer-info {
    left: 43%;
  }
}
@media (max-width: 991px) {
  .phone-link {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-bottom-btn {
    margin-top: 0;
    font-size: 1.4rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .feedback .bg-arm {
    display: none;
  }
  .scheme {
    background-size: 100%;
  }
  .scheme-block {
    text-align: center;
    padding: 1rem 5rem;
  }
  .problem-list {
    margin-bottom: 4rem;
  }
  .material .section-header p,
  .material .section-footer p {
    display: block;
    padding: 0 10rem;
  }
  .material-block {
    margin-bottom: 5rem;
  }
  .tour {
    background-position: left;
  }
  .tour-content {
    text-align: center;
  }
  .tour-form {
    margin-bottom: 5rem;
  }
  .tour-form br {
    display: none;
  }
  .upsell-block {
    margin-bottom: 3rem;
  }
  .upsell-block img {
    margin-top: 8rem;
  }
  .contact {
    background-position: left;
  }
  .contact span br {
    display: none;
  }
  /* footer */
  .footer-block {
    display: inline-block;
    margin-bottom: 3rem;
    left: 39%;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header-btn {
    display: block;
    min-width: 30rem;
    margin: auto;
  }
  .phone-link {
    margin-top: 2rem;
  }
  .wrap-block {
    text-align: center;
  }
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 3rem;
  }
  .form-header {
    width: 100%;
    font-size: 1.6rem;
  }
  .form-header strong {
    font-size: 1.6rem;
  }
  .form-btn {
    font-size: 1.4rem;
  }
  .section-header {
    padding: 0 0.5rem;
    font-size: 3.3rem;
  }
  .feedback br {
    display: block;
  }
  .feedback .media-msg {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .scheme {
    background: none;
    background-color: #ffffff;
  }
  .problem-list {
    max-height: 50rem;
  }
  .problem-list br {
    display: none;
  }
  .problem-list li {
    line-height: 2rem;
  }
  .material-block {
    margin-bottom: 10rem;
  }
  .material .section-footer a {
    display: block;
    margin: 0;
  }
  .tour .form-btn {
    font-size: 1.2rem;
  }
  .footer-logo {
    margin-bottom: 15rem;
  }
  .footer-info {
    top: 33%;
    left: 26.5%;
  }
}
@media (min-width: 2560px) {
  .problem img {
    left: 43%;
  }
}
